

@media only screen and (min-width: 1008px){
    .Main_CheckoutDiv {
        width: 80%;
        height: 20vh;
        /* border: 2px solid red; */
        margin: auto;
        display: flex;
        gap: 30px;
    }
    
    .Main_CheckoutDiv>div:first-child {
        width: 60%;
        height: 20vh;
        margin-bottom: 10px;
        /* border: 1px solid black; */
    }
    
    .Main_CheckoutDiv>div:last-child {
        width: 33%;
        height: 55vh;
        border-radius: 5px;
        border: 1px solid rgb(97, 153, 153);
    }
    
    .Main_CheckoutDiv>div:last-child>div:first-child {
        width: 100%;
        height: 55vh;
        border-radius: 5px;
    
    }
    
    .PerksDiv {
        width: 100%;
        height: 230px;
        /* border: 2px solid blue; */
        background-color: rgb(244, 250, 250);
        border-radius: 5px;
        border: 1px solid rgb(97, 153, 153);
    }
    
    .Add_Membership {
        outline: 0;
        border: 0;
        width: 45%;
        margin: 5px 0px 5px 160px;
        padding: 5px;
        background-color: black;
        color: white;
        border-radius: 5px;
        font-size: 15px;
    }
    
    .Continue_btn {
        outline: 0;
        border: 0;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        font-size: 15px;
        border: 1px solid black;
        margin: 7px 7px 7px 0px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        letter-spacing: 1px;
    
    }
    
    .Secure_btn {
        outline: 0;
        border: 0;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        font-size: 15px;
        color: white;
        background-color: rgb(61, 56, 56);
    
        margin: 7px 7px 7px 0px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        font-weight: 700;
        letter-spacing: 1px;
    }
    
    
    .ProductsDiv {
        width: 100%;
        height: auto;
        margin-top: 40px;
    }
    
    .ProductsDiv>div {
        width: 100%;
        height: 140px;
        /* margin-bottom: 10px; */
        border: 1px solid rgb(97, 153, 153);
    }
    
    .ProductsDiv>div>:first-child>img {
        width: 20%;
        height: 80px;
        float: left;
        margin-top: 30px;
        margin-left: 10px;
        /* border: 1px solid black; */
    }
    
    .middleDiv {
        /* border: 1px solid red; */
        width: 65%;
        margin-left: 23%;
    
    }
    
    .middleDiv>p {
        margin-top: 15px;
    }
    
    /* .middleDiv>div{
        display: flex;
    } */
    
    .DropDown {
        /* border: 1px solid blue; */
        width: 50%;
        margin-left: 40%;
        margin-top: -45px;
        border-radius: 2px;
        border: 1px solid rgb(97, 153, 153);
    
    }
    
    .selectOption {
        padding: 10px;
    }
    
    .IncDec {
        /* border: 1px solid red; */
        width: 30%;
        display: flex;
        margin-top: 25px;
        padding: 9px;
        justify-content: space-around;
        border-radius: 2px;
        border: 1px solid rgb(97, 153, 153);
    }
    
    .DeleteAndPrice {
        width: 12%;
        float: right;
        margin-top: -10%;
    }
    
    .fa-trash {
        margin-left: 50px;
        cursor: pointer;
    }
    
    .DeleteAndPrice>p {
        margin: 20px 0px 0px 5px;
    }
    
    .Left_Upper>div {
        margin-top: 20px;
    }
    
    .leftTag {
        margin-left: 10px;
    
    }
    
    .leftTag>p {
        padding-bottom: 10px;
    }
    
    .Left_Upper>div:last-child {
    
        width: 55%;
        margin-left: 47%;
        margin-top: -20%;
        /* border: 1px solid black; */
    }
    
    .Left_Upper>div:last-child>p {
        padding: 5px;
    }
    
    .Left_Upper>div:last-child>p:first-child {
        margin-left: 105px;
    }
    
    
    
    .Left_Upper>h1 {
        background-color: rgb(243, 234, 234);
        padding: 10px;
    
    }
    
    .Estimated_total {
        margin-top: -60%;
    }
    
    .Estimated_total>hr {
        width: 90%;
        margin: 5px 0px 6px 16px;
    
    }
    
    .Estimated_total>div:last-child {
        width: 55%;
        margin-left: 45%;
        margin-top: -8%;
    
    }
    
    .EstimatedText {
        padding: 5px;
        font-size: 17px;
        font-weight: 500;
    
    }
    
    .Estimated_total>div:last-child>p:first-child {
        margin-left: 105px;
        font-size: 17px;
        font-weight: 500;
    }
    
    .fourInterest {
        padding: 13px;
    }
    
    .learn_more {
        padding-left: 10px;
    }
    
    .promoCode {
    
        width: 85%;
        padding: 10px;
        border-radius: 5px;
        margin: 10px 0px 0px 25px;
    }
    
    .promoCode>input {
        border: 1px solid black;
        padding: 8px;
    }
    
    .promoCode>button {
    
        background-color: black;
        color: white;
        padding: 9px;
        border-radius: 0px 2px 2px 0px;
    
    }
    
    .hrtag {
        width: 90%;
        margin: 5px 0px 6px 16px;
    }
    
    .btn-checkout {
        margin-top: 42px;
    }
}


@media only screen and ((min-width:650px) and (max-width:1007px)){
    .Main_CheckoutDiv {
        width: 80%;
        height: 20vh;
        /* border: 2px solid red; */
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .Main_CheckoutDiv>div:first-child {
        width: 60%;
        height: 20vh;
        margin-bottom: 10px;
        /* border: 1px solid black; */
    }
    
    .Main_CheckoutDiv>div:last-child {
        width: 33%;
        height: 55vh;
        border-radius: 5px;
        border: 1px solid rgb(97, 153, 153);
    }
    
    .Main_CheckoutDiv>div:last-child>div:first-child {
        width: 100%;
        height: 55vh;
        border-radius: 5px;
    
    }
    
    .PerksDiv {
        width: 100%;
        height: 230px;
        /* border: 2px solid blue; */
        background-color: rgb(244, 250, 250);
        border-radius: 5px;
        border: 1px solid rgb(97, 153, 153);
    }
    
    .Add_Membership {
        outline: 0;
        border: 0;
        width: 45%;
        margin: 5px 0px 5px 160px;
        padding: 5px;
        background-color: black;
        color: white;
        border-radius: 5px;
        font-size: 15px;
    }
    
    .Continue_btn {
        outline: 0;
        border: 0;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        font-size: 15px;
        border: 1px solid black;
        margin: 7px 7px 7px 0px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        letter-spacing: 1px;
    
    }
    
    .Secure_btn {
        outline: 0;
        border: 0;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        font-size: 15px;
        color: white;
        background-color: rgb(61, 56, 56);
    
        margin: 7px 7px 7px 0px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        font-weight: 700;
        letter-spacing: 1px;
    }
    
    
    .ProductsDiv {
        width: 100%;
        height: auto;
        margin-top: 40px;
    }
    
    .ProductsDiv>div {
        width: 100%;
        height: 140px;
        /* margin-bottom: 10px; */
        border: 1px solid rgb(97, 153, 153);
    }
    
    .ProductsDiv>div>:first-child>img {
        width: 20%;
        height: 80px;
        float: left;
        margin-top: 30px;
        margin-left: 10px;
        /* border: 1px solid black; */
    }
    
    .middleDiv {
        /* border: 1px solid red; */
        width: 65%;
        margin-left: 23%;
    
    }
    
    .middleDiv>p {
        margin-top: 15px;
    }
    
    /* .middleDiv>div{
        display: flex;
    } */
    
    .DropDown {
        /* border: 1px solid blue; */
        width: 50%;
        margin-left: 40%;
        margin-top: -45px;
        border-radius: 2px;
        border: 1px solid rgb(97, 153, 153);
    
    }
    
    .selectOption {
        padding: 10px;
    }
    
    .IncDec {
        /* border: 1px solid red; */
        width: 30%;
        display: flex;
        margin-top: 25px;
        padding: 9px;
        justify-content: space-around;
        border-radius: 2px;
        border: 1px solid rgb(97, 153, 153);
    }
    
    .DeleteAndPrice {
        width: 12%;
        float: right;
        margin-top: -10%;
    }
    
    .fa-trash {
        margin-left: 50px;
        cursor: pointer;
    }
    
    .DeleteAndPrice>p {
        margin: 20px 0px 0px 5px;
    }
    
    .Left_Upper>div {
        margin-top: 20px;
    }
    
    .leftTag {
        margin-left: 10px;
    
    }
    
    .leftTag>p {
        padding-bottom: 10px;
    }
    
    .Left_Upper>div:last-child {
    
        width: 55%;
        margin-left: 47%;
        margin-top: -20%;
        /* border: 1px solid black; */
    }
    
    .Left_Upper>div:last-child>p {
        padding: 5px;
    }
    
    .Left_Upper>div:last-child>p:first-child {
        margin-left: 105px;
    }
    
    
    
    .Left_Upper>h1 {
        background-color: rgb(243, 234, 234);
        padding: 10px;
    
    }
    
    .Estimated_total {
        margin-top: -60%;
    }
    
    .Estimated_total>hr {
        width: 90%;
        margin: 5px 0px 6px 16px;
    
    }
    
    .Estimated_total>div:last-child {
        width: 55%;
        margin-left: 45%;
        margin-top: -8%;
    
    }
    
    .EstimatedText {
        padding: 5px;
        font-size: 17px;
        font-weight: 500;
    
    }
    
    .Estimated_total>div:last-child>p:first-child {
        margin-left: 105px;
        font-size: 17px;
        font-weight: 500;
    }
    
    .fourInterest {
        padding: 13px;
    }
    
    .learn_more {
        padding-left: 10px;
    }
    
    .promoCode {
    
        width: 85%;
        padding: 10px;
        border-radius: 5px;
        margin: 10px 0px 0px 25px;
    }
    
    .promoCode>input {
        border: 1px solid black;
        padding: 8px;
    }
    
    .promoCode>button {
    
        background-color: black;
        color: white;
        padding: 9px;
        border-radius: 0px 2px 2px 0px;
    
    }
    
    .hrtag {
        width: 90%;
        margin: 5px 0px 6px 16px;
    }
    
    .btn-checkout {
        margin-top: 38px;
    }
}